*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

/* main{
    height: 100%;
    width: 100%;
} */

nav{
    left: 0;
    top: 0;
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    color: #DCD7C9;
    position: fixed;
    z-index: 1;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
nav p{
    font-size: 20px;
    letter-spacing: 4px;
}

#page1{
    position: sticky;
    top: 0%;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #DCD7C9;
    text-align: center;
    /* z-index: 0; */
}
#page1 video{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -3;
}
#page1 h1{
    font-size: 4.5rem;
}
#page1 p{
    margin: 3.5rem;
    font-size: 20px;
    width: 30%;
}
#page1 button{
    margin-top: 3rem;
    padding: 18px 28px;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: transparent;
    color: #DCD7C9;
    border: 1.5px solid white;
    position: relative;
    overflow: hidden;
    transition: all ease 0.5s;
}
#page1 button::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #787c25;
    transition: all ease 0.5s;
    z-index: -1;
}
#page1 button:hover{
    color: black;
    border: 1.5px solid black;
}
#page1 button:hover::before{
    transform:translate(-50%,-50%) scale(1);
}

#page2{
    background-image: url(./assets/photo-1657199484864-4584d75f5a9c.avif);
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #DCD7C9;
    text-align: center;
    z-index: 333;
    position: sticky;
}
#page2 h1{
    font-size: 5rem;
    margin-top: 0rem;
}
#page2 p{
    margin: 2rem;
    font-size: 1.5rem;
    width: 45%;
}
#page2 button{
    margin-top: 3rem;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: transparent;
    color: #DCD7C9;
    border: 1.5px solid #DCD7C9;
    position: relative;
    overflow: hidden;
    transition: all ease 0.5s;
    z-index: 1;
}
#page2 button::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #787c25;
    transition: all ease 0.5s;
    z-index: -1;
}
#page2 button:hover{
    color: #DCD7C9;
    border: 1.5px solid #DCD7C9;
}
#page2 button:hover::before{
    transform:translate(-50%,-50%) scale(1);
}